1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
  
  i.WAP to add 200 and 300 to L.

In [1]:
List = [10,20,30,40,50,60,70,80]
print(List)
List.append(200)
List.append(300)
print(List)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

ii. WAP to remove 10 and 30 from L.

In [3]:
List = [10,20,30,40,50,60,70,80]
print(List)
List.remove(10)
List.remove(30)
print(List)

[10, 20, 30, 40, 50, 60, 70, 80]
[20, 40, 50, 60, 70, 80]

iii. WAP to sort L in ascending order.

In [4]:
List = [10,20,40,30,50,70,60,80]
print(List)
List.sort()
print(List)

[10, 20, 40, 30, 50, 70, 60, 80]
[10, 20, 30, 40, 50, 60, 70, 80]

iv. WAP to sort L in descending order.

In [ ]:
List = [10,20,40,30,50,70,60,80]
print(List)
List.sort(reverse=True)
print(List)

In [6]:
#2.	Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:

Tuple = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

#i.	Identify the highest score and its index in the tuple.
max = Tuple[0]
maxIndex = 0

for i in range(len(Tuple)):
  if max < Tuple[i]:
    max = Tuple[i]
    maxIndex = i

print(f'max element {max} is present at index {maxIndex} ')

#ii.	Find the lowest score and count how many times it appears.

min = Tuple[0]
minIndex = 0

for i in range(len(Tuple)):
  if min > Tuple[i]:
    min = Tuple[0]

print(f'Minimum is = {min}')
print(Tuple.count(min));

#iii. 	Reverse the tuple and return it as a list.
ans =  Tuple[::-1]
ans_list = list(ans)
print(ans_list)

#iv. 	Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

x = int(input("Please enter element to find: "))

found = ans.count(x)

if found==0:
  print("Element not present in list")
else:
  print(f'Element is = {x}')

max element 92 is present at index 5
Minimum is = 45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
Please enter element to find: 45
Element is = 45

In [5]:
#3.	WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

from random import *
from math import *

randomizer = []
#i.	All odd numbers
for i in range(100):
  randomizer.append(randint(100,900))

countOdd=0
for i in range(100):
  if randomizer[i]%2!=0:
    print(randomizer[i])
    countOdd+=1

print(f'Odd numbers = {countOdd}')

#ii.	All even numbers
countEven=0
for i in range(100):
  if randomizer[i]%2==0:
    print(randomizer[i])
    countEven+=1

print(f'Even numbers = {countEven}')

#iii.	All prime numbers
countPrime=0
for i in range(100):
  prime = True
  for j in range(2,int(sqrt(randomizer[i]))+1):
    if randomizer[i]%j==0:
      prime = False
      break
  if prime==False:
    continue
  else:
     countPrime+=1
     print(randomizer[i])

print(f'Prime numbers = {countPrime}')

557
715
515
609
885
105
427
115
415
401
127
131
779
775
855
649
137
541
485
869
689
689
223
427
337
749
399
899
821
213
683
685
485
621
115
755
111
329
843
685
429
511
325
497
373
857
617
707
265
169
653
Odd numbers = 51
746
716
514
626
478
304
670
168
538
200
258
284
440
444
470
192
340
660
786
484
446
780
238
632
254
366
176
764
344
222
728
432
200
234
474
654
204
206
442
578
834
598
458
398
390
666
886
436
696
Even numbers = 49
557
401
127
131
137
541
223
337
821
683
373
857
617
653
Prime numbers = 14

Consider the following sets representing scores of two teams:
A = {34, 56, 78, 90} and B = {78, 45, 90, 23} . Perform the following operations:

In [7]:
A = {34,56,78,90}
B = {78,45,90,23}

#i.	Find the unique scores achieved by both teams (union).

unionAB = A | B
print(unionAB)

#ii.	Identify the scores that are common to both teams (intersection).

intersectionAB = A & B
print(intersectionAB)

#iii.	Find the scores that are exclusive to each team (symmetric difference).

symdiffAB = A ^ B
print(symdiffAB)

#iv.Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.

checkFirst =  A.issubset(B)
checkSecond = B.issuperset(A)

print(f'A is a subset of B?? --> {checkFirst}')
print(f'B is a superset of A?? --> {checkSecond}')

#v.	Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

x = int(input("Enter element to remove: "))

if x in A:
    A.remove(x)
    print(f"Element {x} has been removed ")
else:
    print(f"Element {x} is not present")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
A is a subset of B?? --> False
B is a superset of A?? --> False
Enter element to remove: 23
Element 23 is not present

Write a program to rename a key city to location in the following dictionary:

data = {"city": "New York", "population": 8419600, "area": 468.9} .

In [8]:
data = {
    "city" : "New York",
    "population" : 8419600,
    "area" : 468.9
}

data["location"] = data["city"]
data.pop("city")

print(data);

{'population': 8419600, 'area': 468.9, 'location': 'New York'}